<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <header><h1>Documentação API-alura</h1></header>
    <section>
        <h2>Objetivo</h2>
        <p>A presente API visa fornecer uma interface de comunição com a base de dado da livraria alura.</p>
    </section>
    <main>
        <h2>EndPoints</h2>
        <article class="article" id="getBookById">
            <header>
                <h3>Buscar livros por ID</h3>
                <span><strong>Método:</strong> POST</span><br>
                <span><strong>URL:</strong> /livros/{id}</span>
                </header>
            <p>Busque um livro especifico atráves do ID.</p>
        </article>
        <article class="article" id="getBooks">
            <header>
                <h3>Liste todos os livros da base</h3>
                <span><strong>Método:</strong> GET</span><br>
                <span><strong>URL:</strong> /livros</span></header>
            <p>Liste todos os livros da base</p>
        </article>

    </main>
</body>
</html>